/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.divtab{
  float:left;
  border: 1px solid #ddd; 
  border-radius: 5px; 
}

.span_tab_url{
  margin-left:1%;
}

.inpcol{
  display: inline-grid;
  padding:0 1%;
}

#whadda_colsf, #whadda_colts, #whadda_colbr{
  margin: 0 auto;
  padding:0 1%;
}

.divfont{
  float:left; 
  width:40%;
}

.divcontfont{
  display:grid;
  float:left;
  width: 60%;
}

.select_cat{
  width:100%;
}

.select_vari{
  height:1% !important; 
  width:100%;
}

.divangoli{
  width:100px; 
  height: 100px; 
  margin-left:10%; 
  border:1px solid black; 
  float:left;
}

.div_cont_angoli{
  width:40%; 
  display:block; 
  float:left;
}

.angoli{
  width:100%; 
 float:left;
}

.inputbordi{
  margin:1% auto !important;
}

.labelbordi{
  display:inline-grid; 
  margin:0 1%; 
  text-align:center;
}

.clear{
  clear:both;
}

.mprighempcol{
 width:45%; 
 float:left; 
}

.tabfont{
  display: inline-table;
}

.whaddacenter{
  text-align: center;
}

.divtabella{
  display:table;
}

.whaddacenterfloat{
  text-align: center;
  float:left;
}

#whadda_dinieg:hover{
  border: 1px solid red;
}

#whadda_confirm:hover{
  border: 1px solid red;
}

@media screen and (max-width:468px){
  
  .mprighempcol{
 width:100%; 
 float:left; 
}

}