/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.divtab{
  float:left;
  border: 1px solid #ddd; 
  border-radius: 5px; 
}

.span_tab_url{
  margin-left:1%;
}

.inpcol{
  display: inline-grid;
  padding:0 1%;
}

#whadda_colsf, #whadda_colts, #whadda_colbr{
  margin: 0 auto;
  padding:0 1%;
}